<div class="d-grid">
    <button
        type="submit"
        class="btn btn-primary d-flex align-items-center justify-content-center gap-2"
        {{ sylius_test_html_attribute('cart-checkout-button') }}
    >
        <i class="bi bi-credit-card"></i>
        {{ 'sylius.ui.checkout'|trans }}
    </button>
</div>
