{% set form = hookable_metadata.context.form %}

<td class="text-end align-middle">
    {{ form_widget(form.quantity, {
        attr: {
            class: 'form-control form-control-sm text-end',
            style: 'width: 60px; display: inline-block;'
        }
    }) }}
</td>


