<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
<td class="align-middle text-end">
    <button
        class="btn btn-sm btn-outline-danger"
        type="button"
        data-action="live#action:prevent"
        data-live-action-param="removeItem"
        data-live-index-param="{{ hookable_metadata.context.index }}"
        {{ sylius_test_html_attribute('remove-cart-item') }}
    >
        <i class="bi bi-trash"></i>
    </button>
</td>

