{% set form = hookable_metadata.context.form %}

<div class="mt-5">
    <button type="submit" class="btn btn-primary" {{ sylius_test_html_attribute('add') }}>
        <i class="bi bi-plus-lg me-1"></i>
        {{ 'sylius.ui.add'|trans }}
    </button>
</div>
